article {
  margin: 20px;
}
div {
  margin: 5px;
}
mat-card {
  width: 700px;
  margin: 15px;
}
h3 {
  color: var(--primary-color);
}
mat-card-title {
  color: var(--primary-color);
  text-shadow: -1px 1px 5px #d4d4d4;
}
.annotation-list-container{
  height: 100px;
  overflow-y: scroll;
  margin: 0;
}
.annotation-container{
  width: 50%;
}
#des-ann{
  display: flex;
}
#context{
  height: 80px;
  overflow-y: scroll;
}
#context-container{
  margin: 5px 0 0 0;
  width: 50%;
  height: 80px;
}
mat-card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
mat-chip-set {
  margin: auto;
}
app-report-description-editor{
  width: 100%;
}
#status-container{
  width: 100%;
  display: flex;
  margin-top: 20px;
  height: 40px;

}
#description-box{
  height: 80px;
  overflow-y: scroll;
}
mat-chip-set > * {
  display: flex;
  justify-content: space-around;
}
#edit-annotation {
  margin: auto;
  width: 80%;
  height: 60px;
  font-size: large;
}
button {
  background-color: #426135;
  color: white;
  font-family: 'Bodoni';
  border-radius: 8px 8px;
  box-shadow: yellowgreen 3px 3px;
}
.btn-primary > button,
.btn-edit > button {
  width: 60px;
  height: 40px;
  margin: 20px 15px 10px 15px;
}

button:hover {
  cursor: pointer;
  transform: translateY(1px) translateX(1px);
  box-shadow: yellowgreen 2px 2px;
}
button:active {
  background-color: #2d4224;
  transform: translateY(3px) translateX(3px);
  box-shadow: yellowgreen 0px 0px;
}
