article {
  margin: 20px;
}
div {
  margin: 5px;
}
mat-card{
  width: 350px;
  margin: 15px;
}
h3{
  color: var(--primary-color);
}
mat-card-title{
  color: var(--primary-color);
  text-shadow: -1px 1px 5px #d4d4d4;
}

mat-card-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
mat-chip-set{
  width: 100%;
  display: flex;
  padding: 15px 5% 15px 5%;
}
mat-chip-set > *{
  display: flex;
  justify-content: space-around;
}
#edit-annotation{
  margin: auto;
  width: 80%;
}
button{
  background-color: #426135;
  color: white;
  font-family: 'Bodoni';
  border-radius: 8px 8px;
  box-shadow: yellowgreen 3px 3px;
}
#edit-annotation{
  height: 60px;
  font-size: large;
}
div.btn-primary > button{
  
}

