#reportForm{
    display: flex;
    margin: 50px;
    flex-direction: column;
    justify-content: space-between;
}
#paidForm{
    display: flex;
    justify-content: flex-start;
}
#submitButton{
    width: 120px;
    height: 60px;
}
.matFormField{
    margin-right: 40px;
}