<div id="main">
  <form class="loginForm">
    <h1>Welcome Back Fellow Tipster</h1>
    <mat-form-field class="username">
      <mat-label>Username</mat-label>
      <input
        type="Username"
        matInput
        name="username"
        placeholder="Username"
        [formControl]="txtUsername"
        autofocus
      />
    </mat-form-field>

    <mat-form-field class="password">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        name="password"
        placeholder="password"
        [formControl]="txtPassword"
      />
    </mat-form-field>

    <error-block [error]="error"></error-block>

    <div class="center">
      <button
        (click)="tryLogin()"
        color="warn"
        aria-setsize="45"
        [formControl]="btnLogin"
      >
        Submit
      </button>

        <a href="/signUp">Sign Up</a>
    </div>
  </form>
</div>
