<head>
    <link rel="stylesheet" href="login.component.css">     
</head>

<form class = center > 
    <mat-form-field class="">
        <mat-label>Username</mat-label>
        <input type="Username" matInput  placeholder="Username">
    </mat-form-field>
</form>

<form class = center>
    <mat-form-field class="">
        <mat-label>Password</mat-label>
      <input type="password" matInput  placeholder="password">
    </mat-form-field>
</form>

<div class = center>
<button mat-button color="warn" aria-setsize="45">Submit</button>
</div>

