<div>
{{ token }}

<form class = center >
    <mat-form-field class="">
        <mat-label>Username</mat-label>
        <input type="Username" matInput name="username"  placeholder="Username" [formControl]="txtUsername">
    </mat-form-field>

    <mat-form-field class="">
        <mat-label>Password</mat-label>
      <input type="password" matInput  name="password" placeholder="password" [formControl]="txtPassword">
    </mat-form-field>

  <div class = center>
  <button mat-button (click)="tryLogin()" color="warn" aria-setsize="45" [formControl]="btnLogin">Submit</button>
  </div>

</form>
</div>
