<div class="sign-up-component">

  <div class="loginForm">
  <h1>Sign Up To Pangolin!</h1>

  <mat-form-field class="username">
    <mat-label>Email</mat-label>
    <input
        type="text"
        matInput
        name="Email"
        placeholder="Email"
        [formControl]="txtEmail"
        autofocus
        />
  </mat-form-field>

  <mat-form-field class="password">
    <mat-label>Password</mat-label>
    <input
        type="password"
        matInput
        name="password"
        placeholder="password"
        [formControl]="txtPassword"
        />
  </mat-form-field>

  <error-block [error]="error"></error-block>

  <div class="center">
    <button
        (click)="trySignUp()"
        color="warn"
        aria-setsize="45"
        >
        Submit
    </button>
  </div>
  </div>


</div>
