#body {
  padding: 45px 0px 45px 0px;
  margin-bottom: 10px;
  display: flex;
}
#cards{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 background-color: white;
 margin: 0px 25px 0px 25px;
 padding: 0px 10px 0px 10px;
 border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#cards2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
h1 {
  width: 100%;
  text-align: center;
  margin: 15px;
  color: var(--primary-color);
  font-family: 'Bodoni';
  font-size: 45px;
  font-weight: 700;
  text-shadow: 1px 1px 4px #c7c7be;
}
mat-form-field{
  width: 70%;
  margin: auto;
}
#top{
  width: 100%;
  display: flex;
}
