#body{
  background-color: #f1f1ef;
  padding: 45px 0px 45px 0px;
  margin-bottom: 10px;
}
#cards{
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 background-color: white;
 margin: 0px 35px 0px 35px;
 border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
  width:100%;
  text-align: center;
  margin: 15px;
  color: var(--primary-color);
}
#card{
  
}




