* {
  margin: 0px;
  padding: 0px;
}
#nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #426135;
  padding: 5px 15px;
  border-bottom: 5px solid yellowgreen;
}
main {
  position: sticky;
  top: 0;
  z-index: 10;
}
#pang-logo {
  height: 45px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}
#logout{
  margin-right: 20px;
  margin-left: -70px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  padding: 2px;
  font-size: small;
  font-family: 'Bodoni';
}
#right-side{
  display: flex;
}
h6{
  background-color: #adaaaa;
  font-family: 'Bodoni';
  font-size: medium;
  opacity: 0;
  margin-top: 10px;
}
h1 {
  color: white;
  font-size: xx-large;
  font-family: 'Bodoni';
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 5px;
}
#profile-img {
  height: 45px;
  align-self: center;
  filter: invert(1);
}

button {
  border-radius: 50%;
  border: 0;
  width: 50px;
  height: 50px;
}

#profile-button {
  background-color: #426135;
}
#profile-button:hover {
  box-shadow:
    0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
#profile-button:hover > h6 {
  opacity: 1;
}
#pang-button:hover {
  box-shadow:
    0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
#pang-button:hover > h6{
  opacity: 1;
}
#logout:hover{
  box-shadow:
    0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
#logout:active{
  background-color: #2d4224;
}
#profile-button:active {
  background-color: #2d4224;
}
#pang-button:active {
  background-color: #d9d9d9;
}
