.welcome-container {
  width: 100vw;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#welcome {
  width: 800px;
  height: 410px;
  background-color: #426135;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  justify-content: space-between;
  border-radius: 30px 0px;
  box-shadow: yellowgreen 10px 10px;
  margin: 50px;
}

div.welcome-img > img {
  width: 420px;
  margin-top: -21px;
  margin-right: -20px;
}

div.welcome-img {
  width: 350px;
  height: 350px;
  background-color: #f1f1ef;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

div#welcome > p {
  font-size: 45pt;
  text-align: right;
  color: #fff;
  margin: 22px;
  font-family: 'Bodoni';
}

div#welcome-buttons {
  width: 800px;
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

div#welcome-buttons > button {
  height: 62px;
  width: 157px;
  background: #426135;
  box-shadow: yellowgreen 3px 4px;
  border-radius: 8px 0px;
  color: #fff;
  font-size: x-large;
  font-family: 'Bodoni';
}
div#welcome-buttons > button:hover {
  cursor: pointer;
  transform: translateY(1px) translateX(1px);
  box-shadow: yellowgreen 3px 3px;
}
div#welcome-buttons > button:active {
  box-shadow: yellowgreen 0px 0px;
  transform: translateY(4px) translateX(4px);
}
@media only screen and (max-height: 700px) {
  .welcome-container {
    height: 600px;
  }
}
