:host {
  --primary-color: #426135;
  --secondary-color: yellowgreen;
  --primary-error: #fe5f55;
  --secondary-error: #6f3e39;
}
body{
  background-image: linear-gradient(140deg, rgb(164, 201, 92), white);
  overflow-y: scroll;

}
